.item {
    max-width: 400px;
    padding: 5px;
}
.img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
}

.descr {
    padding: 10px;
}

.stack {
    text-align: left;
    color: #d99e9e;
    padding: 10px;

}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;

}

.link {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 200px;
    cursor: pointer;
}

.link__img {
    width: 25px;
}

.link__title {
    font-size: 16px;
    line-height: 24px;
}

@media (max-width: 1200px) {

}
@media (max-width: 1024px) {
    .item {
        width: 350px;
    }
}
@media (max-width: 768px) {
    .item {
        width: 450px;
    }
}
@media (max-width: 576px) {
    .item {
        width: 280px;
    }
    .link {
        gap: 6px;
        width: 107px;
    }

    .link__img {
        width: 18px;
    }

    .link__title {
        font-size: 15px;
        line-height: 24px;
    }
}
@media (max-width: 320px) {

}
