.mySkills {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cards {
    margin: 40px 20px 0 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 40px;
    column-gap: 20px;
    flex-wrap: wrap;
}

.item {
    padding: 10px;
    max-width: 300px;
    border: 2px solid var(--secondary-color);
    box-shadow: 0 0 7px 7px rgba(32, 117, 164, .6);
    border-radius: 20px;
    text-align: center;
    color: #d3d1d1;
    background: #24305E;
}

.img {
    width: 90px;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img img {
    width: 100%;
}

.item__title {
    margin-top: 5px;
    font-size: 16px;
    color: var(--primary-color);
    font-weight: bold;
}

.descr {
    margin-top: 10px;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
    .img {
        margin-top: 10px;
        width: 100px;
    }
}

@media (max-width: 768px) {
    .cards {
        margin-top: 30px;
        row-gap: 30px;
    }
}

@media (max-width: 576px) {
    .cards {
        margin-top: 20px;
    }
}

@media (max-width: 320px) {

}
