.mainBlock {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
    height: 500px;
    padding: 200px 100px;
    background: url('../../photo/main.jpeg') center 50%/cover no-repeat;
}

.text {
    display: block;
    width: 570px;
}
.title, .subtitle{
    color: var(--background-color);
}
.subtitle:before {
    background: var(--primary-color);
}

@media (max-width: 1200px) {
    .main {
        height: 400px;
        padding: 155px 60px;
    }
    .text {
        width: 520px;
    }
}
@media (max-width: 1024px) {
    .main {
        height: 400px;
        padding: 155px 40px;
    }
    .text {
        width: 425px;
    }
}
@media (max-width: 768px) {
    .main {
        height: 400px;
        padding: 130px 40px;
    }
    .text {
        width: 330px;
    }
}
@media (max-width: 576px) {
    .main {
        height: 200px;
        padding: 75px 20px;
    }
    .text {
        width: 213px;
    }
}
@media (max-width: 320px) {

}