.navbar {
    background: #36374f;
}

.list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 50px;
    list-style: none;
    font-size: 20px;
    line-height: 26px;
    color: var(--primary-color);
    cursor: pointer;
}

.item:hover:after {
    content: '';
    margin-top: 4px;
    display: block;
    height: 2px;
    background: var(--primary-color);
}

@media (max-width: 1200px) {

}
@media (max-width: 1024px) {

}
@media (max-width: 768px) {
    .list {
        gap: 30px;
        font-size: 18px;
        line-height: 24px;
    }
}
@media (max-width: 576px) {
    .list {
        gap: 10px;
        font-size: 13px;
        line-height: 18px;
    }
    .item:hover:after {
        margin-top: 0;
        height: 1px;
    }
}
@media (max-width: 320px) {

}